body  {
    color: white;
    font-family: arial;
    margin: 0px;
    background-color
    :olive

      }


h1,h2{text-align: center}
id#better{color:blue;}
id#best{color:purple;}

img {
  border-radius: 50%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}
li#good{
  text-align:left;
        font-size: 50px;
        }


li#better{text-align:center;    font-size:50px;}
li#best{text-align:right;        font-size:50px;}

.unique{background-color: black;}
